* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

html {
    font-size: 62.5%;
    /* 1rme = 10px */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #80cff7;
}

#container {
    height: 50vh;
    width: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #12a4d9;
    border-radius: 15px;
    border: 1px solid;
}

#spoken_language {
    width: 90%;
    height: 5vh;
    background-color: #80cff7;
    border-radius: 15px;
    margin-top: 62px;
    border: 0.5px solid;

}

#eng {
    height: 100%;
    background-color: #d9138a;
    float: left;
    font-size: 1.5em;
    border-radius: 15px 0 0 15px;
    text-align: left;
    transition: 1s ease 0.3s;
    padding-left: 10px;
    /* margin-left: 5px; */
    /* transform: translate(10px); */

}


#fr {
    height: 100%;
    background-color: #e2d810;
    float: right;
    font-size: 1.5em;
    border-radius: 0 15px 15px 0;
    text-align: right;
    transition: 1s ease 0.3s;
    padding-right: 10px;
    /* margin-right: 5px; */
    /* transform: translate(10px); */

}

#demo {
    font-size: large;
}